body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: red;
}
.container {
    min-height: 100vh;
    display: grid;
    /* grid-template-columns: 300px 1fr; */
}
nav {
    background-color: #333;
}
nav ul { 
    display: flex;
    flex-direction: row;
    gap: 30px;
}
img {
    width: 100%;
}
@media screen and (min-width: 700px) {
    body {
        background-color: green;
        font-size: 1.4em;
    }
    .container {
        grid-template-columns: 200px 1fr;
    }
    nav ul { 
        flex-direction: column;
        gap: 10px;
    }
    img {
        width: 50%;
    }
}
@media screen and (min-width: 900px) {
.container {
        grid-template-columns: 300px 1fr;
    }
}
@media print {
    img {
        display: none;
    }
}