* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas:
    "header header"
    "sidebar main"
    ;
}

body > header {
    grid-area: header;
    background-color: #333;
    
}

body > aside {
    grid-area: sidebar;
    background-color: #49b2ca;
    overflow-y: auto;
    overflow-x: hidden;
}

body > main {
    grid-area: main;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 1rem;
}
.cards .card {
    width: calc(33% - 10px);
    min-width: 200px;
    flex: 1;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.4);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.5);
}