* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background: #263357 url(../imagens/background-tech.jpg) no-repeat ;
    background-position: center center;
    background-size: cover;
    height: 70vh;
}

.container {
    width: 80%;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
}
.logo {
    height: 50px;;
}
ul.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
}
ul.nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
}
ul.nav-links li a:hover {
    color: #5280ff;
    border-bottom: 2px solid #5280ff;
}

.nav-contato {
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
    font-size: 1.2em;
}
.nav-contato span {
    font-size: 20px;
    background-color: white;
    color: #5280ff;
    padding: 10px;
    border-radius: 50%;
}
.nav-contato a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 2px solid white;
    padding: 10px 15px;
    border-radius: 100px;
    transition: background-color 0.3s, color 0.3s;
}
.nav-contato a:hover {
    background-color: white;
    color: #5280ff;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(70vh - 80px);
    color: white;;
}

.header-content .pessoa-header {
    width: 200px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.3);
}

.header-welcome {
    display: flex;
    align-items: center;
    gap: 20px;
}
.header-welcome h2 {
    padding: 10px 20px;
    border-radius: 100px;
    color: #fff;
    margin-left: 15px;
    font-size: 1.5em;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.header-content h1 {
    text-align: center;
    font-size: 2em;
    padding: 10px 20px;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
}
.header-content p {
    text-align: center;
    font-size: 1.2em;
    max-width: 600px;
}

.btn-header {
    display: block;
    font-size: 1.2em;
    padding: 15px 30px;
    background-color: rgba(82, 128, 255, 0.2);
    color: white;
    backdrop-filter: blur(10px) saturate(180%);
    border: 1px solid rgba(82, 128, 255, 0.5);
    text-decoration: none;
    border-radius: 100px;
    font-weight: bold;
    transition: all 0.3s;
}
.btn-header:hover {
    background-color: rgba(82, 128, 255, 0.6);
    color: white;
    text-shadow: 0 0 5px white;
    box-shadow: 0 0 10px rgba(82, 128, 255, 0.7);
}