* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background: #263357 url(../imagens/background-tech.jpg) no-repeat ;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

header .credito-imagem {
    max-width: 20px;
    max-height: 20px;
    position: absolute;
    color: #ffffff00;
    right: 15px;
    bottom: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0 0 0 20px;
    border-radius: 5px;
    overflow: hidden;
    transition: all  0.5s 0.6s, color 0.2s 0.6s, background-color 0.8s 0.6s;
    animation: blink 2s infinite steps(1);
}
header .credito-imagem a {
    color: #ffffff00;
    transition: color 0.2s 0.6s;
    text-decoration: none;
}
header .credito-imagem:hover {
    background-color: rgba(255, 255, 255, 0.6)!important;
    color: #fff;
    padding: 20px 10px;
    max-width: 100%;
    max-height: 100%;
    transition: all 1s, color 0.6s 0.2s, background-color 0.8s;
}
header .credito-imagem:hover a {
    color: #fff;
    transition: color 0.6s 0.2s;
}
@keyframes blink {
    0%, 100% {
        background-color: rgba(255, 255, 255, 0.2);
    }
    50% {
        background-color: rgba(255, 255, 255, 0.6);
    }
}

.container {
    margin: 0 auto;
}
nav {

    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px) saturate(250%);
    padding: 20px 0;
}
.nav-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.logo {
    height: 50px;
}
ul.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}
ul.nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
}
ul.nav-links li a:hover {
    color: #5280ff;
    border-bottom: 2px solid #5280ff;
}

.nav-contato {
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
    font-size: 1.2em;
}
.nav-contato span {
    font-size: 20px;
    background-color: white;
    color: #5280ff;
    padding: 10px;
    border-radius: 50%;
}
.nav-contato a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 2px solid white;
    padding: 10px 15px;
    border-radius: 100px;
    transition: background-color 0.3s, color 0.3s;
}
.nav-contato a:hover {
    background-color: white;
    color: #5280ff;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
    padding-top: 10px;
}

.header-content .pessoa-header {
    width: 150px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.3);
}

.header-welcome {
    display: flex;
    align-items: center;
    gap: 20px;
}
.header-welcome h2 {
    padding: 10px 20px;
    border-radius: 100px;
    color: #fff;
    margin-left: 15px;
    font-size: 1.2em;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.header-content .curso {
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
}
.header-content .curso p {
    text-align: center;
    font-size: 1.1em;
}

.btn-header {
    display: block;
    font-size: 1.2em;
    padding: 15px 80px;
    background-color: rgba(82, 128, 255, 0.2);
    color: white;
    backdrop-filter: blur(10px) saturate(180%);
    border: 1px solid rgba(82, 128, 255, 0.5);
    text-decoration: none;
    border-radius: 100px;
    font-weight: bold;
    transition: all 0.3s;
}
.btn-header:hover {
    background-color: rgba(82, 128, 255, 0.6);
    color: white;
    text-shadow: 0 0 5px white;
    box-shadow: 0 0 10px rgba(82, 128, 255, 0.7);
}

@media screen and (min-width: 780px) {
    header .nav-flex {
        flex-direction: row;
    }
    header nav .nav-links {
        flex-direction: row;
    }
    .container {
        width: 95%;
    }
}
@media screen and (min-width: 980px) {
    .container {
        width: 80%;
    }
    
}