body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.calculadora {
    border: 1px solid #000;
    height: 400px;
    width: 300px;
    display: grid;
    grid-template-rows: 80px 320px;
}

.display {
    background-color: #222;
    color: #0f0;
    font-size: 2em;
    padding: 10px;
    text-align: right;
}
.botoes {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.igual {
    grid-column: 4 / 5;
    grid-row: 4 / 6;
}
.zero {
    grid-column: 1 / 3;
}